@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: rgba(61, 61, 61, 1);
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #3a2f2f;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #fff;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 40px;
}

.section-m1 {
  margin: 40px 0;
}
.section-p2 {
  padding: 0 40px;
}

button.normal {
  color: #00874a;
  background-color: #000;
  padding: 10px 14px;
  border: 2px solid #00874a;
  border-radius: 10px;
  transition: 0.6s ease;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

body {
  width: 100%;
}

/* header styles */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgba(34, 34, 34, 1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: -2px;
  left: 0;
  z-index: 999;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 2px 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  transition: 0.6s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #00ff8c;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  display: block;
  width: 30%;
  height: 2px;
  background-color: #00ff8c;
  margin-top: 5px;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}
#close {
  display: none;
}
/* Home page styles */
/* hero styles */
#hero {
  background-image: url(img/hero4.jpg);
  height: 90vh;
  weight: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  font-size: 32px;

  color: #96b18a;
  padding-bottom: 10px;
}
#hero h1 {
  color: #00874a;
  padding-top: 10px;
}
#hero button {
  color: #00874a;
  background: transparent;
  padding: 6px 14px;
  border: 3px solid #00874a;
  border-radius: 10px;
  transition: 0.6s ease;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}
#hero button:hover {
  background-color: #00ff8c;
  color: #fff;
}

/* featured styles */
#featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  flex-wrap: wrap;
}

#featured .fe-box {
  background: #141414;
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.362);
  border: 1px solid #000;
  border-radius: 6px;
  margin: 15px auto;
  transition: 0.6s ease;
}
#featured .fe-box:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.8);
}
#featured .fe-box img {
  width: 100%;
  margin-bottom: 20px;
}
#featured .fe-box h6 {
  display: inline-block;
  padding: 6px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #00ff8c;
  background-color: rgba(34, 34, 34, 1);
}

#featured .fe-box:nth-child(2) h6 {
  background-color: #00a864; /* Lighter green */
  color: #2e2e2e;
}
#featured .fe-box:nth-child(3) h6 {
  background-color: #ff7961; /* Lighter red */
  color: #3d3d3d;
}
#featured .fe-box:nth-child(4) h6 {
  background-color: #5dade2; /* Lighter blue */
  color: #3a2604;
}
#featured .fe-box:nth-child(5) h6 {
  background-color: #f7d44e; /* Lighter yellow */
  color: #34495e;
}
#featured .fe-box:nth-child(6) h6 {
  background-color: #af7ac5; /* Lighter purple */
  color: #ecf0f1;
}

/* product 1 styles */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  gap: 5px;
  flex-wrap: wrap;
}
#product1 h2 {
  color: #ecf0f1;
}
#product1 p {
  color: #00ed7e;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 2px solid #000;
  background: #141414;
  border-radius: 20px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.362);
  transition: 0.6s ease;
  cursor: pointer;
  margin: 15px auto;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.8);
}
#product1 .pro img {
  width: 100%;
  border-radius: 15px;
  height: auto;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .des span {
  color: #00ed7e;
  font-size: 12px;
  font-weight: bold;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #fff;
  font-size: 14px;
}
#product1 .pro .des i {
  font-size: 12px;
  color: #be5c00;
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #00ed7e;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background: #424242;
  font-weight: 500;
  color: #fff;
  box-shadow: 3px 2px 8px rgba(0, 0, 0, 1);
  position: absolute;
  bottom: 8px;
  right: 8px;
}

/* cta banner styles */
#banner {
  background-image: url(img/banner/b2.jpg);
  background-size: cover;
  background-position: center;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}
#banner h4 {
  color: #ffffff;
  font-size: 20px;
  padding-bottom: 10px;
}
#banner h2 {
  color: #ffffff;
  font-size: 30px;
  padding: 20px;
}
#banner h2 span {
  color: #ff0000;
}

#banner button:hover {
  background-color: #00874a;
  color: #ffffff;
}

/* small  banner styles */
#sm-banner {
  display: flex;
  margin: 0 auto;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#sm-banner .banner-box {
  background-image: url(img/banner/b17.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  word-break: break-all;
  padding: 20px;
  margin: 0 auto;
}
#sm-banner .banner-box2 {
  background-image: url(img/banner/b10.jpg);
}
#sm-banner .banner-box span {
  padding: 10px 0;
  color: #fff;
}
#sm-banner .banner-box h4 {
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
}
#sm-banner .banner-box h2 {
  padding: 10px 0;
  color: #fff;
}
#sm-banner .banner-box button {
  padding: 10px 20px;
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
  cursor: pointer;
  transition: 0.6s ease;
}
#sm-banner .banner-box:hover button {
  background: #00f67f;
  border: 2px solid #00f67f;
}

#banner3 {
  display: flex;
  margin: 0 auto;
  gap: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#banner3 .banner-box {
  background-image: url(img/banner/b7.jpg);
  background-size: cover;
  background-position: center;
  height: 30vh;
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  padding: 40px;
  margin: 0 auto 20px auto;
}
#banner3 .banner-box2 {
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box3 {
  background-image: url(img/banner/b18.jpg);
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 24px;
}
#banner3 h3 {
  color: #ff4400;
  font-weight: 800;
  font-size: 14px;
}
/* news letter styles */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: rgba(0, 5, 35, 1);
  padding: 40px 10px;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}
#newsletter p {
  font-size: 15px;
  font-weight: 600;
  color: #9d9d9d;
}
#newsletter span {
  color: #ffcc00;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
#newsletter button {
  background-color: #003953;
  border: 0px;
  color: #ffffff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: 0.3s ease;
}
#newsletter button:hover {
  background-color: #202020;
}

/* footer styles */
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  color: #5173b9;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  color: #9d9d9d;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #c6efc6;
  margin-bottom: 10px;
  transition: 0.3s ease;
}
footer a:hover {
  color: #ffcc00;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #ffcc00;
  padding-right: 4px;
  font-size: 18px;
  transition: 0.3s ease;
}
footer .follow i:hover {
  color: #c6efc6;
}
footer .install .row img {
  border: 1px solid #c6efc6;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}

footer .copyright {
  width: 100%;
  color: #8e8e8e;
  text-align: center;
}

/* shop page styles */
#page-header {
  background-image: url("img/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
  text-align: center;
}
#page-header h2,
#page-header p {
  color: #ffffff;
}
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #141414;
  box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.362);
  padding: 15px 20px;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.6s ease;
}
#pagination a:hover {
  box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.8);
}
#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

/* single product page styles */
#prodetails {
  display: flex;
  margin-top: 20px;
  color: #fff;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 70%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  color: #00f67f;
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}
#prodetails .single-pro-details select {
  display: block;
  padding: 10px 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}
#prodetails .single-pro-details select:focus {
  outline: none;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 14px;
  margin-right: 10px;
  border-radius: 6px;
}
#prodetails .single-pro-details input:focus {
  outline: none;
}
#prodetails .single-pro-details button:hover {
  background-color: #00f67f;
  color: #ffffff;
}
#prodetails .single-pro-details span {
  line-height: 25px;
}
/* blog page styles */
#page-header.blog-header {
  background-image: url("img/banner/b19.jpg");
}

#blog {
  padding: 150px 150px 0 150px;
}
#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  color: #fff!;
  position: relative;
  padding-bottom: 90px;
}
#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}
#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#blog .blog-details {
  width: 50%;
  color: #fff;
}
#blog .blog-details a {
  text-decoration: none;
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  transition: 0.6s ease;
}
#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  top: 4px;
  right: -60px;
  transition: 0.6s ease;
}
#blog .blog-details h4,
p {
  color: #ffffff;
}

#blog .blog-details a:hover {
  color: #04e07c;
}
#blog .blog-details a:hover::after {
  background-color: #04e07c;
}
#blog .blog-box h1 {
  position: absolute;
  top: -43px;
  left: 0;
  color: #ffffff58;
  font-size: 70px;
  font-weight: 700;
  z-index: -9;
}
/* about page styles */
#page-header.about-header {
  background-image: url("img/about/banner.png");
}

#about-head {
  display: flex;
  align-items: center;
}
#about-head img {
  width: 50%;
  height: auto;
}
#about-head abbr {
  color: #9e9e9e;
}
#about-head div {
  padding-left: 40px;
}
#about-app {
  text-align: center;
}
#about-app h1 {
  color: #fff;
}
#about-app h1 a {
  color: #00f67f;
}
#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto;
}
#about-app .video video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* contact page styles */
#contact-details {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact-details .details {
  width: 40%;
}
#contact-details .details span,
#form-details form span {
  font-size: 12px;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}
#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}
#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}
#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}
#contact-details .details li p {
  font-size: 14px;
  margin: 0;
}
#contact-details .map {
  width: 55%;
  height: 400px;
}
#contact-details .map iframe {
  width: 100%;
  height: 100%;
}
#form-details {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #eeeeee5e;
  background-color: #13111163;
}
#form-details form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
#form-details form input,
textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border-radius: 6px;
  background-color: #141414;
  color: #fff;
}
#form-details form button {
  font-size: 14px;
  width: 200px;
}
#form-details form button:hover {
  background-color: #00f67f;
  color: #ffffff;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}
#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}
#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}
#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #9e9e9e;
}
/* media query */

@media (max-width: 799px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #333;
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }

  #navbar.active {
    right: 0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.7);
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: #fff;
    font-size: 24px;
    margin-right: 15px;
  }

  #close {
    position: absolute;
    display: inline-block;
    top: 30px;
    right: 30px;
    color: #fff;
    font-size: 24px;
  }

  #lg-cart {
    display: none;
  }

  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
  }

  #product1 p,
  #banner3 h2,
  #banner3 h3,
  #sm-banner .banner-box span,
  #sm-banner .banner-box h4 {
    font-size: 15px;
  }

  #hero h1,
  #sm-banner .banner-box h2 {
    font-size: 35px;
  }

  #hero h2,
  #product1 h2 {
    font-size: 35px;
  }

  #hero h4 {
    font-size: 25px;
  }

  #newsletter .form {
    width: 90%;
  }
  /* single product page styles */
  #prodetails {
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 60%;
    margin: 0 auto;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }
  /* bloge page styles */
  #blog {
    padding: 100px 50px 0 50px;
  }
  /* contact us page styles */
  #form-details {
    flex-direction: column-reverse;

    padding: 50px 20px;
  }

  #form-details form {
    width: 100%;
  }
}

@media (max-width: 400px) {
  #header {
    padding: 20px 10px;
  }

  .section-p1,
  .section-p2 {
    padding: 10px 10px;
  }

  .section-m1 {
    margin: 10px 0;
  }

  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  #hero h1 {
    font-size: 25px;
  }

  #hero h2,
  #product1 h2,
  #sm-banner .banner-box h2 {
    font-size: 20px;
  }

  #hero h4,
  #sm-banner .banner-box h4 {
    font-size: 15px;
  }

  #sm-banner .banner-box span {
    font-size: 15px;
  }
  /* bloge page styles */
  #blog {
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  #blog .blog-details {
    width: 100%;
  }

  /* about page  styles */
  #about-head {
    flex-direction: column;
  }
  #about-head h2 {
    font-size: 30px;
  }
  #about-app h1 {
    font-size: 35px;
  }
  #about-head img {
    width: 100%;
    margin-bottom: 30px;
  }
  #about-head div {
    padding-left: 0;
  }
  #about-app .video {
    width: 100%;
    height: 100%;
    margin: 20px auto 0 auto;
  }
  /* contact page styles */
  #contact-details {
    flex-direction: column-reverse;
  }
  #contact-details .map {
    width: 100%;
    height: 400px;
    padding: 20px 0;
  }
  #contact-details .details {
    width: 100%;
  }
}
